/* Колір основного тесту #757575 */
/* вторинний колір тексту 212121# */
/* первинний колір фону #E5E5E5 */
/* вторинний колір фону #F5F4FA */
/* білий #FFFFFF */
/* колір адреси #ffff */
/* акцент #2196F3 */
/* колір пошти та телефону rgba(0, 0, 0, 0.6)*/
/* Колір фону кнопок портфоліо #F5F4FA */
/* Колір фону подвал #2F303A */

:root {
  --primary-text-colore: #757575;
  --title-text-colore: #212121;
  --accent-colore: #2196f3;
  --btn-colore-primary: #ffffff;
  --bg-primary-colore-portfolio-btn: ##f5f4fa;
  --bg-footer-colore: #2f303a;
  --primary-text-footer-colore: #ffffff;
  --secondary-text-footer-colore: rgba(255, 255, 255, 0.6);
  --web-logo-colore: #2196f3;
  --foot-web-logo-colore: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-colore);
}

.list {
  list-style: none;
}

.logo {
  color: var(--title-text-colore);
}

.web-logo {
  color: var(--web-logo-colore);
}

/* site nav */

.site-nav .link {
  color: #212121;
}

.cont-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-colore);
}

.cont-nav .link:hover,
.cont-nav .link:focus {
  color: var(--accent-colore);
}

.site-nav .link.current {
  color: var(--accent-colore);
}

.section .title {
  color: var(--title-text-colore);
}

/* Особливості feature-list*/

.feature-list .title {
  color: var(--title-text-colore);
}

.btn {
  colore: var(--title-text-colore);
  background-color: var(--btn-colore-primary);
}

.btn.primary {
  color: var(--btn-colore-primary);
  background-color: var(--accent-colore);
}

.btn.secondary {
  color: var(--accent-colore);
  background-color: var(--btn-colore-primary);
}

/* Портфолио */
.port-but .link {
  color: var(--title-text-colore);
}

.port-but .link:hover,
.port-but .link:focus {
  color: var(--btn-colore-primary);
  background-color: var(--accent-colore);
}

.port-work {
  color: var(--title-text-colore);
}

.port-work .link {
  color: var(--title-text-colore);
}

/* Подвал */
footer {
  background-color: var(--bg-footer-colore);
}

.web-foot-logo {
  color: var(--foot-web-logo-colore);
}

.foot-logo {
  color: var(--primary-text-footer-colore);
}

.footer.link {
  color: var(--secondary-text-footer-colore);
}

.foot-address {
  color: var(--primary-text-footer-colore);
}
